<div class="shogun-root" data-shogun-id="61b34d2740ee6800c336f8c9" data-shogun-site-id="2b6abec6-3921-4a4f-bda6-f940cd72152a" data-shogun-page-id="61b34d2740ee6800c336f8c9" data-shogun-page-version-id="631dd6f5e69fab011ba1c483" data-shogun-platform-type="shopify" data-shogun-variant-id="631dd6f5e69fab011ba1c6e0" data-region="main">
    <script defer src="https://lib.getshogun.com/lazysizes/2.0.0/shogun-lazysizes.js" type="text/javascript"></script>
    <div class="shg-fw">
        <div class="shg-c" id="s-cece58ee-19d6-4b56-a7f6-7331cb37b0ef">
            <div class="shg-row" data-col-grid-mode-on="">
                <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
                    <div id="s-fe992c0b-5152-4310-af50-ee56164238c1" class="shg-c apply-inconsolata-font">
                        <div class="shg-rich-text shg-theme-text-content">
                            <p style="text-align: center;" data-mce-style="text-align: center;"><strong><span style="color: #ffffff; font-family: Work Sans;" data-mce-style="color: #ffffff; font-family: Work Sans;">Royal Enfield Motorcycles</span></strong></p>
                        </div>
                    </div>
                    <div id="s-e5052c9b-64e1-489d-a536-014b984026ae" class="shg-c  shg-align-center">
                        <div class="shogun-heading-component">
                            <h1>Enjoy the open road.</h1>
                        </div>
                    </div>
                    <div id="s-b195d404-c13a-4f52-ad86-5fba3ddd6f42" class="shg-c apply-inconsolata-font">
                        <div class="shg-rich-text shg-theme-text-content">
                            <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: #ffffff;" data-mce-style="color: #ffffff;"><span style="font-family: Work Sans;" data-mce-style="font-family: Work Sans;">Royal Enfield started building motorcycles in 1901 and is the longest running motorcycle brand still in production today.</span></span></p>
                        </div>
                    </div>
                    <div class="shg-box-vertical-align-wrapper">
                        <div class="shg-box shg-c" id="s-4d2a178a-a65d-441b-b1b5-1766cd14b316">
                            <div class="shg-box-overlay"></div>
                            <div class="shg-box-content"></div>
                        </div>
                    </div>
                </div>
                <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"></div>
            </div>
        </div>
    </div>
    <div id="s-a179e19c-f0c3-4676-9f11-7adb4fd6110c" class="shg-c"></div>
    <div class="shg-fw">
        <div class="shg-box-vertical-align-wrapper">
            <div class="shg-box shg-c" id="s-594a1039-6b67-4725-b003-6508eb053431">
                <div class="shg-box-overlay"></div>
                <div class="shg-box-content">
                    <div class="shg-box-vertical-align-wrapper">
                        <div class="shg-box shg-c" id="s-7e758794-df7c-481f-a956-2a5b02521e2a">
                            <div class="shg-box-overlay"></div>
                            <div class="shg-box-content">
                                <div class="shg-c" id="s-339afa07-35ae-4082-bb1c-e8ae64a76124">
                                    <div class="shg-row" data-col-grid-mode-on="">
                                        <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-6">
                                            <div class="shg-box-vertical-align-wrapper">
                                                <div class="shg-box shg-c  shg-box-linked" id="s-7cd0bf9a-633c-44f4-8b22-b61b719e250f" data-shg-href="/collections/himalayan-motorcycle">
                                                    <div class="shg-box-overlay"></div>
                                                    <div class="shg-box-content">
                                                        <div class="shg-c" id="s-4206a23e-2739-4a85-965a-d81db68cc387">
                                                            <div class="shg-row" data-col-grid-mode-on="">
                                                                <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-12"></div>
                                                                <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
                                                                    <div class="shg-c shogun-image-container    shg-align-center" style="opacity: 1;" id="s-58aafa34-0e67-40d4-b6ad-cecaa72440dc" data-mce-style="opacity: 1;"><img data-src="https://i.shgcdn.com/b941dd97-9771-4632-91f8-b2b2d423b2bf/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" alt="" class="shogun-image  shogun-lazyload"></div>
                                                                    <script type="text/javascript">
                                                                        window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
                                                                        window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: '', uuid: 's-58aafa34-0e67-40d4-b6ad-cecaa72440dc' })
                                                                    </script>
                                                                </div>
                                                                <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-12"></div>
                                                            </div>
                                                        </div>
                                                        <div id="s-8c90eea8-aed5-42e6-bbda-2de98f01123e" class="shg-c">
                                                            <div class="shg-rich-text shg-theme-text-content">
                                                                <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: #000000; font-family: Work Sans;" data-mce-style="color: #000000; font-family: Work Sans;"><strong>Himalayan</strong></span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <script type="text/javascript">
                                                if (window.SHOGUN_BOX === undefined) window.SHOGUN_BOX = new Array()

                                                window.SHOGUN_BOX.push({
                                                    id: "s-7cd0bf9a-633c-44f4-8b22-b61b719e250f",
                                                    url: "/collections/himalayan-motorcycle",
                                                    new_window: false
                                                })
                                            </script>
                                        </div>
                                        <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-6">
                                            <div class="shg-box-vertical-align-wrapper">
                                                <div class="shg-box shg-c  shg-box-linked" id="s-652b248e-0f9f-46a3-91df-5bdbd7a71d24" data-shg-href="/collections/meteor">
                                                    <div class="shg-box-overlay"></div>
                                                    <div class="shg-box-content">
                                                        <div class="shg-c" id="s-4ca39ea7-52ab-47ae-92d5-54440af0585c">
                                                            <div class="shg-row" data-col-grid-mode-on="">
                                                                <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-12"></div>
                                                                <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
                                                                    <div class="shg-c shogun-image-container    shg-align-center" style="opacity: 1;" id="s-1e4cdc68-849d-4742-aca4-a89b92b6247f" data-mce-style="opacity: 1;"><img data-src="https://i.shgcdn.com/8c6e1c2b-a9e3-4f92-a3b7-d95f00aa600d/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" alt="" class="shogun-image  shogun-lazyload"></div>
                                                                    <script type="text/javascript">
                                                                        window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
                                                                        window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: '', uuid: 's-1e4cdc68-849d-4742-aca4-a89b92b6247f' })
                                                                    </script>
                                                                </div>
                                                                <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-12"></div>
                                                            </div>
                                                        </div>
                                                        <div id="s-a267c926-fd5a-4be6-8d92-708e0e8336c8" class="shg-c">
                                                            <div class="shg-rich-text shg-theme-text-content">
                                                                <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: #000000;" data-mce-style="color: #000000;"><span style="font-family: 'Work Sans';" data-mce-style="font-family: 'Work Sans';"><strong>Meteor</strong></span></span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <script type="text/javascript">
                                                if (window.SHOGUN_BOX === undefined) window.SHOGUN_BOX = new Array()

                                                window.SHOGUN_BOX.push({
                                                    id: "s-652b248e-0f9f-46a3-91df-5bdbd7a71d24",
                                                    url: "/collections/meteor",
                                                    new_window: false
                                                })
                                            </script>
                                        </div>
                                        <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-6">
                                            <div class="shg-box-vertical-align-wrapper">
                                                <div class="shg-box shg-c  shg-box-linked" id="s-55b64971-c997-451d-8f34-43ae88be4e1d" data-shg-href="/collections/int650">
                                                    <div class="shg-box-overlay"></div>
                                                    <div class="shg-box-content">
                                                        <div class="shg-c" id="s-690d4607-11e3-403b-8d6a-b6b1bb72cb33">
                                                            <div class="shg-row" data-col-grid-mode-on="">
                                                                <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-12"></div>
                                                                <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
                                                                    <div class="shg-c shogun-image-container    shg-align-center" style="opacity: 1;" id="s-be327e96-051b-43b9-a3b2-7fee6becf560" data-mce-style="opacity: 1;"><img data-src="https://i.shgcdn.com/5a7a4894-4530-4f00-832d-1a967836699e/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" alt="" class="shogun-image  shogun-lazyload"></div>
                                                                    <script type="text/javascript">
                                                                        window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
                                                                        window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: '', uuid: 's-be327e96-051b-43b9-a3b2-7fee6becf560' })
                                                                    </script>
                                                                </div>
                                                                <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-12"></div>
                                                            </div>
                                                        </div>
                                                        <div id="s-50f48de3-84b5-4599-86e4-01f05a415df0" class="shg-c">
                                                            <div class="shg-rich-text shg-theme-text-content">
                                                                <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: #000000;" data-mce-style="color: #000000;"><span style="font-family: Work Sans;" data-mce-style="font-family: Work Sans;"><strong>INT650</strong></span></span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <script type="text/javascript">
                                                if (window.SHOGUN_BOX === undefined) window.SHOGUN_BOX = new Array()

                                                window.SHOGUN_BOX.push({
                                                    id: "s-55b64971-c997-451d-8f34-43ae88be4e1d",
                                                    url: "/collections/int650",
                                                    new_window: false
                                                })
                                            </script>
                                        </div>
                                        <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-6">
                                            <div class="shg-box-vertical-align-wrapper">
                                                <div class="shg-box shg-c  shg-box-linked" id="s-5e186ba5-8ebd-4026-8e47-fb345db2d136" data-shg-href="/collections/continental-gt">
                                                    <div class="shg-box-overlay"></div>
                                                    <div class="shg-box-content">
                                                        <div class="shg-c" id="s-a5cae64a-61ff-4f35-bf07-867e07e1e6fb">
                                                            <div class="shg-row" data-col-grid-mode-on="">
                                                                <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-12"></div>
                                                                <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
                                                                    <div class="shg-c shogun-image-container    shg-align-center" style="opacity: 1;" id="s-44fa845c-c777-40b3-b2dc-08d82d8ac787" data-mce-style="opacity: 1;"><img data-src="https://i.shgcdn.com/a0de9fc8-2de9-4a30-9b09-c1edaf17c001/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" alt="" class="shogun-image  shogun-lazyload"></div>
                                                                    <script type="text/javascript">
                                                                        window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
                                                                        window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: '', uuid: 's-44fa845c-c777-40b3-b2dc-08d82d8ac787' })
                                                                    </script>
                                                                </div>
                                                                <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-12"></div>
                                                            </div>
                                                        </div>
                                                        <div id="s-45b8409f-18ee-4fe1-bb77-b9e143c2b6d7" class="shg-c">
                                                            <div class="shg-rich-text shg-theme-text-content">
                                                                <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: #000000;" data-mce-style="color: #000000;"><span style="font-family: Work Sans;" data-mce-style="font-family: Work Sans;"><strong>Continental GT</strong></span></span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <script type="text/javascript">
                                                if (window.SHOGUN_BOX === undefined) window.SHOGUN_BOX = new Array()

                                                window.SHOGUN_BOX.push({
                                                    id: "s-5e186ba5-8ebd-4026-8e47-fb345db2d136",
                                                    url: "/collections/continental-gt",
                                                    new_window: false
                                                })
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shg-box-vertical-align-wrapper">
                        <div class="shg-box shg-c" id="s-5da3fb84-563e-4703-9904-03683ddf71f6">
                            <div class="shg-box-overlay"></div>
                            <div class="shg-box-content">
                                <div class="shg-c" id="s-87ac47b4-ea4e-4764-b832-648815f9f79c">
                                    <div class="shg-row" data-col-grid-mode-on="">
                                        <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-6">
                                            <div class="shg-box-vertical-align-wrapper">
                                                <div class="shg-box shg-c  shg-box-linked" id="s-b067c6b4-0119-4a00-87fe-f229372b27f4" data-shg-href="https://gomotomn.com/collections/classic-350">
                                                    <div class="shg-box-overlay"></div>
                                                    <div class="shg-box-content">
                                                        <div class="shg-c" id="s-324773bd-a835-4333-b565-d8b1f163a48f">
                                                            <div class="shg-row" data-col-grid-mode-on="">
                                                                <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-12"></div>
                                                                <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
                                                                    <div class="shg-c shogun-image-container    shg-align-center" style="opacity: 1;" id="s-9f35dd96-7289-43ed-ad3c-9cecbd182f59" data-mce-style="opacity: 1;"><img data-src="https://i.shgcdn.com/79bc3b57-d552-46e4-9538-0bdd6d596878/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" alt="" class="shogun-image  shogun-lazyload"></div>
                                                                    <script type="text/javascript">
                                                                        window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
                                                                        window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: '', uuid: 's-9f35dd96-7289-43ed-ad3c-9cecbd182f59' })
                                                                    </script>
                                                                </div>
                                                                <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-12"></div>
                                                            </div>
                                                        </div>
                                                        <div id="s-598ed667-0566-45c8-bcca-acb021a81b20" class="shg-c">
                                                            <div class="shg-rich-text shg-theme-text-content">
                                                                <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: #000000; font-family: Work Sans;" data-mce-style="color: #000000; font-family: Work Sans;"><strong>Classic 350</strong></span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <script type="text/javascript">
                                                if (window.SHOGUN_BOX === undefined) window.SHOGUN_BOX = new Array()

                                                window.SHOGUN_BOX.push({
                                                    id: "s-b067c6b4-0119-4a00-87fe-f229372b27f4",
                                                    url: "https://gomotomn.com/collections/classic-350",
                                                    new_window: false
                                                })
                                            </script>
                                        </div>

                                        <!-- Start of Scram-411. End classic-350.-->
                                        <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-6">
                                            <div class="shg-box-vertical-align-wrapper">
                                                <div class="shg-box shg-c  shg-box-linked" id="s-d5d3fd5f-f6c4-4cde-9970-ffd743757490" data-shg-href="https://gomotomn.com/collections/scram-411">
                                                    <div class="shg-box-overlay"></div>
                                                    <div class="shg-box-content">
                                                        <div class="shg-c" id="s-19337d63-8e03-4ca4-90d1-19600baf33be">
                                                            <div class="shg-row" data-col-grid-mode-on="">
                                                                <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-12"></div>
                                                                <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
                                                                    <div class="shg-c shogun-image-container    shg-align-center" style="opacity: 1;" id="s-651a7614-c6ce-4e76-ba19-70c64756b473" data-mce-style="opacity: 1;"><img data-src="https://i.shgcdn.com/ef405be4-2518-499b-9172-d847928389f4/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" alt="" class="shogun-image  shogun-lazyload"></div>
                                                                    <script type="text/javascript">
                                                                        window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
                                                                        window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: '', uuid: 's-651a7614-c6ce-4e76-ba19-70c64756b473' })
                                                                    </script>
                                                                </div>
                                                                <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-12"></div>
                                                            </div>
                                                        </div>
                                                        <div id="s-0379637d-d8ca-4f8f-8a89-2b4241225cf7" class="shg-c">
                                                            <div class="shg-rich-text shg-theme-text-content">
                                                                <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: #000000;" data-mce-style="color: #000000;"><span style="font-family: 'Work Sans';" data-mce-style="font-family: 'Work Sans';"><strong>Scram 411</strong></span></span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <script type="text/javascript">
                                                if (window.SHOGUN_BOX === undefined) window.SHOGUN_BOX = new Array()
                                                window.SHOGUN_BOX.push({
                                                    id: "s-d5d3fd5f-f6c4-4cde-9970-ffd743757490",
                                                    url: "https://gomotomn.com/collections/scram-411",
                                                    new_window: false
                                                })
                                            </script>
                                        </div>
                                        
                                        
                                        <div id="fooBox" style="color: blue" class="shg-c shg-box-content" onclick="window.location = 'https://gomotomn.myshopify.com/collections/new-motorcycle'">
                                            Hunter
                                        </div>
                                        
                                        <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-6"></div>
                                        <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-6"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="s-3f7847e1-024d-4b65-b55d-23e100a96c9b" class="shg-c">
                        <div class="shg-rich-text shg-theme-text-content">
                            <p>Royal Enfield is an Indian multinational motorcycle manufacturing company headquartered in Chennai, Tamil Nadu, India. The company is the oldest global motorcycle brand in continuous production, and operates manufacturing plants in Chennai in India. Licensed from Royal Enfield by the indigenous Indian Madras Motors, it is now a subsidiary of Eicher Motors Limited, an Indian automaker. The company makes classic-looking motorcycles including the Royal Enfield Bullet, Classic 350, Meteor 350, Classic 500, Interceptor 650, Continental and many more. Royal Enfield also make adventurous and offroading motorcycles like Royal Enfield Himalayan. Their motorcycles are equipped with single-cylinder and twin-cylinder engines. First produced in 1901, Royal Enfield is the oldest motorcycle brand in the world still in production, with the Bullet model enjoying the longest motorcycle production run of all time.</p>
                            <p> </p>
                        </div>
                    </div>
                    <div id="s-7c2a9aa2-69d9-4dca-a107-7a7c01a1ec7c" class="shg-c  shg-align-left">
                        <div class="shogun-heading-component">
                            <h1>All New Royal Enfield Inventory</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>