/*@font-face{font-family: goldBeach, src: url("./fonts/goldenBeach.otf");}*/
main {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
position: relative;
    border: 1px solid black;
    overflow: hidden;
    zoom: 0.7;
    left: 50%;
    transform: translate(-50%);
    border-radius: 14px;
}

.moveable {
  position: absolute;
}

.textHeader {
  text-align: center;
  width: 100%;
}
#pizza{
    
}
#pasta{
    
}
#quantityLegend{
    left: 50%;
    transform: translate(-50%);
    position: absolute;
}
#supplyLegend{
    bottom: 50%;
    transform: rotate(90deg);
    position: absolute;
}
